{% extends "profile/base.html" %}
{% load widget_tweaks %}

{% block profile_content %}

    <form class="ui form" method="post">
        <h1>Ваш магазин</h1>
        {% csrf_token %}
{% for field in form %}
        <div class="field">
            <label>{{ field.label }}</label>
{% if field|widget_type == 'select' %}
            {{ field|add_class:"ui dropdown" }}
{% else %}
            {{ field }}
{% endif %}
        </div>
{% endfor %}
        <button type="submit" class="ui primary button">Сохранить</button>
    </form>
{% endblock %}