{% load widget_tweaks %}

    <div class="field{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}">
{% if field|widget_type == 'checkboxinput' %}
        <div class="ui checkbox">
            {{ field }}
            <label>{{ field.label }}</label>
        </div>
{% elif field|widget_type == 'select' %}
        <label>{{ field.label }}</label>
        {{ field|add_class:"ui dropdown" }}
{% else %}
        <label>{{ field.label }}</label>
        {{ field }}
{% endif %}
{% if field.errors %}
    {{ field.errors }}
{% endif %}
    </div>
