{% load staticfiles dictionary_tags user_tags catalog_tags search_tags %}
<!doctype html>
<meta charset="utf-8">
<title>{% block head_title %}Marketplace{% endblock %}</title>
<link rel="stylesheet" href="{% static "vendor/semantic/semantic.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/fancybox/css/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "vendor/jquery-ui.structure.min.css" %}">
<link rel="stylesheet" href="{% static "styles/style.css" %}">


<body>
<div class="all">
    <div class="all__content">
        <header class="page_head">
            <div class="ui stackable grid container">
                <div class="three wide column">
                    <h1><a href="/">YouStore</a></h1>
                </div>
                <div class="{% if request.user.has_unread_messages %}nine{% else %}ten{% endif %} wide column">
                    {% search_form %}
                </div>
{% if request.user.has_unread_messages %}
                <div class="column">
                    <a href="{{ request.user.get_unread_messages_link }}">
                        <i class="big green comment icon"></i>
                    </a>
                </div>
{% endif %}
                <div class="three wide column">
                    <div class="page_head__region_switcher">
                        {% region_switcher %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <a class="item" href="{% url "user:shop_update" %}">
                            <i class="user icon"></i>
                            {{ request.user }}
                        </a> /
                        <a class="item" href="{% url "account_logout" %}">
                            выйти
                            <i class="log out icon"></i>
                        </a>
                    {% else %}
                    <a class="item" href="{% url "account_login" %}">Вход</a> / <a class="item" href="{% url "account_signup" %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
            {% block after_header %}
            {% endblock %}
        </header>

        <div class="page_head__after">
        {% block main_menu %}
        {% catalog_menu %}
        {% endblock %}
        {% block before_content %}
        {% endblock %}
        </div>

        <div class="ui container page_content">
            {% messages %}
{% block content %}
{% endblock %}
        </div>
    </div>
    <div class="page_foot">
        <div class="ui container">
            <div class="ui center aligned basic segment">
                © YouStore 2016.
            </div>
        </div>
    </div>
</div>
<script src="{% static "vendor/jquery.min.js" %}"></script>
<script src="{% static "vendor/jquery-ui.min.js" %}"></script>
<script src="{% static "vendor/jquery.tablesort.min.js" %}"></script>
<script src="{% static "vendor/semantic/semantic.min.js" %}"></script>
<script src="{% static "vendor/fancybox/js/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "scripts/script.js" %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
