

.page_head {
  padding: 16px 0;
  &__region_switcher {
    .text {
      border-bottom: 1px dotted #333;
    }
  }
  &__after {
    background: #37383A url("../images/container-bg.jpg") repeat;
    margin-bottom: 32px;
    .ui.inverted.menu {
      background: transparent;
    }
  }
}
