{% extends "user/base.html" %}
{% load user_tags %}


{% block content %}
    <h1>Новый товар</h1>
    {% item_create_steps %}

    <div class="ui icon warning message">
        <i class="warning sign icon"></i>
        <div class="content">
            Выбрать раздел можно только при создании нового товара.<br>
            Впоследствии изменить раздел размещения будет нельзя.
        </div>
    </div>

    <div class="ui labeled icon top left pointing left floated dropdown primary button" id="user_select_item_category">
        <i class="filter icon"></i>
        <span class="text">Выберите раздел</span>
        <div class="menu">
{% for category, info in categories %}
{% if info.level == 0 %}
            <div class="item" data-value="{{ category.id }}">
                {{ category.name }}
            </div>
{% endif %}
{% endfor %}
        </div>
    </div>
    <div class="ui labeled icon top left pointing left floated dropdown disabled primary button" id="user_select_item_subcategory">
        <i class="filter icon"></i>
        <span class="text">Выберите подраздел</span>
        <div class="menu">
{% for category, info in categories %}
{% if info.level == 1 %}
            <div class="item filtered" data-next-url="{% url "user:item_create_step2" category.id %}" data-parent="{{ category.get_parent.id }}">
                {{ category.name }}
            </div>
{% endif %}
{% endfor %}
        </div>
    </div>

    <a href="" class="ui right labeled icon right floated disabled positive button" id="button_next">
        Далее
        <i class="arrow right icon"></i>
    </a>

{% endblock %}