{% extends "user/base.html" %}


{% block profile_content %}
    <h1>Мои товары</h1>
    <div class="ui info message">
        Размещено в каталоге: <b>{{ request.user.get_catalog_active_items_count }}</b> из <b>{{ request.user.tariff.goods }}</b>
    </div>
    <table class="ui sortable celled table">
    <thead><tr>
        <th>Название</th>
        <th>Артикул</th>
        <th>Цена</th>
        <th>Активность</th>
    </tr></thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td><a href="{% url "user:item_update" item.id %}">{{ item.name }}</a></td>
            <td>{{ item.article }}</td>
            <td>{{ item.price }}</td>
            <td>{% if item.active %}<i class="large green checkmark icon"></i>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot><tr><th colspan="4">
        <a class="ui right floated small primary labeled icon button" href="{% url "user:item_create" %}">
            <i class="plus icon"></i> Создать товар
        </a>
    </th></tr></tfoot>
    </table>
{% endblock %}
