{% extends "user/base.html" %}
{% load humanize %}


{% block profile_content %}
    <h1>Мои товары</h1>
    <div class="ui info message">
        Размещено в каталоге: <b>{{ request.user.get_catalog_active_items_count }}</b> из <b>{{ request.user.tariff.goods }}</b>
    </div>
    <table class="ui sortable celled table">
    <thead><tr>
        <th>Название</th>
        <th>Артикул</th>
        <th>Цена</th>
        <th>Активность</th>
        <th></th>
    </tr></thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td><a href="{% url "user:item_update" item.id %}">{{ item.name }}</a></td>
            <td>{{ item.article }}</td>
            <td data-sort-value="{{ item.price }}">
{% if item.old_price %}
                (<del>{{ item.old_price|intcomma }}</del>)
{% endif %}
                {{ item.price|intcomma }}
            </td>
            <td>{% if item.active %}<i class="large green checkmark icon"></i>{% endif %}</td>
            <td>
                <a href="{{ item.get_absolute_url }}">
                    <i class="external icon"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot><tr><th colspan="5">
        <a class="ui right floated small primary labeled icon button" href="{% url "user:item_create" %}">
            <i class="plus icon"></i> Добавить товар
        </a>
    </th></tr></tfoot>
    </table>
{% endblock %}
