{% extends "user/base.html" %}


{% block content %}
    <h1>Новый товар в разделе «{{ category }}»</h1>
    <div class="ui ordered steps">
        <a href="{% url "user:item_create" %}" class="completed step">
            <div class="content">
                <div class="title">Выбор раздела</div>
                <div class="description">только при создании товара</div>
            </div>
        </a>
        <div class="active step">
            <div class="content">
                <div class="title">Информация о товаре</div>
                <div class="description">основное</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Торговые предложения</div>
                <div class="description">опционально</div>
            </div>
        </div>
    </div>

{% include "user/_item_form.html" %}


{% endblock %}


{% block extra_scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
