{% extends "user/base.html" %}
{% load humanize thumbnail %}


{% block profile_content %}
    <h1>Мои товары</h1>
    <div class="ui info message">
        Размещено в каталоге: <b>{{ request.user.get_catalog_active_items_count }}</b> из <b>{{ request.user.get_tariff.goods }}</b>
    </div>
    <table class="ui sortable celled table">
    <thead><tr>
        <th>Название / артикул</th>
        <th>Цвета</th>
        <th>Размеры</th>
        <th>Цена</th>
        <th>Активность</th>
    </tr></thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
                <h4 class="ui image header">
                    <a href="{% url "user:item_update" item.id %}" class="ui mini rounded image">
{% thumbnail item.get_image "35x35" crop="center" as im %}
                        <img src="{{ im.url }}">
{% endthumbnail %}
                    </a>
                    <div class="content">
                        <a href="{% url "user:item_update" item.id %}">{{ item.name }}</a>
                        <a href="{{ item.get_absolute_url }}"><i class="external icon"></i></a>
                        <div class="sub header">{{ item.article }}</div>
                    </div>
                </h4>
            </td>
            <td>
                <div class="ui list">
{% for sku in item.itemsku_set.active %}
                    <a class="item" href="{% url "user:item_update_sku" item.id sku.id %}">{{ sku.color }}</a>
{% endfor %}
{% if item.category.sku_allowed %}
                    <a class="item" href="{% url "user:item_create_sku" item.id %}">
                        <i class="plus icon"></i>
                        добавить цвет
                    </a>
{% endif %}
                </div>
            </td>
            <td>
{% for size in item.get_sizes %}
                {{ size }}{% if not forloop.last %},{% endif %}
{% endfor %}

            </td>
            <td data-sort-value="{{ item.price }}" class="right aligned">
{% if item.old_price %}
                <div class="ui grey mini label">(<del>{{ item.old_price|intcomma }}</del>)</div><br>
{% endif %}
                {{ item.price|intcomma }}<i class="rouble icon"></i>
            </td>
            <td>{% if item.active %}<i class="large green checkmark icon"></i>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot><tr><th colspan="5">
        <a class="ui right floated small primary labeled icon button" href="{% url "user:item_create" %}">
            <i class="plus icon"></i> Добавить товар
        </a>
    </th></tr></tfoot>
    </table>
{% endblock %}
