<div class="ui inverted menu container">
    <a href="{% url "user:shop_update" %}" class="item">Мой магазин</a>
    <a href="{% url "user:item_list" %}" class="item">Товары</a>
    <a href="{% url "user:tariff_list" %}" class="item">Тарифы</a>
    <a href="{% url "help:list" %}" class="item">Справка</a>
    <a href="{% url "feedback:ticket_list" %}" class="item">Обратная связь</a>
{% if user.is_staff and user.is_active %}
    <a href="{% url "admin:index" %}" class="item">Админ-интерфейс</a>
{% endif %}
</div>
