{% extends "base.html" %}


{% block content %}
    <p>Оплату следует произвести на реквизиты:</p>
    <div class="ui info message">
    <pre>
ИП Тамбовцев Сергей Дмитриевич
Г. Иркутск, Байкальская 126а, 103
ТЕЛ.: +7 / 999 / 641-87-95
ИНН: 753615321277
Счет: 40802810223470000142
БИК: 045004774
В ФИЛИАЛЕ «Новосибирский» АО «Альфа банк»
    </pre>
    </div>
    <p>После оплаты напишите менеджеру на <a href="mailto:froozer92@gmail.com">froozer92@gmail.com</a> письмо с уведомлением об оплате и скан(фото) платежки, и ваш счёт будет пополнен.</p>
{% endblock %}
