<div class="catalog_filter">
    <div class="ui attached message">
        <div class="header">Фильтр</div>
    </div>
    <form class="ui form attached fluid segment" method="get">
        <div class="field field-price_slider">
            <label>Цена</label>
            <div class="values">
                от <span id="min_price">{{ filter.form.price.value.0|default:min_price }}</span>
                до <span id="max_price">{{ filter.form.price.value.1|default:max_price }}</span><i class="rouble icon"></i>
            </div>
            <div id="price-range"></div>
        </div>
{% for field in form %}
{% if field.html_name != 'o' %}
{% include "forms/_field.html" %}
{% endif %}
{% endfor %}
        <input type="hidden" name="o" value="{{ form.o.value|default:"-updated_at" }}">
        <a href="{{ category.get_absolute_url }}" class="ui basic button">Сбросить</a>
        <button type="submit" class="ui primary button">Показать</button>
    </form>
</div>
