{% extends "base.html" %}
{% load catalog_tags nav_tags %}


{% block content %}
<div class="ui stackable grid">
    <div class="row">
        <div class="sixteen wide column">
            {% breadcrumb category.get_path %}
        </div>
    </div>
    <div class="row">
        <div class="ten wide column">
            <h1>{{ category.name }}</h1>
        </div>
        <div class="six wide column">
            {% catalog_sort %}
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            {% with filter.form as form %}
                {% include "catalog/_category_filter.html" %}
            {% endwith %}
        </div>
        <div class="twelve wide column">
            {% with filter as items %}
                {% include "catalog/_catalog_item_card_list.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}


{% block extra_scripts %}
{{ block.super }}
    <script>
    $(function(){
        $("#price-range").slider({
            range: true,
            min: {{ min_price }},
            max: {{ max_price }},
            values: [{{ filter.form.price.value.0|default:min_price }}, {{ filter.form.price.value.1|default:max_price }}],
            slide: function( event, ui ) {
                $("#min_price").text(ui.values[0]);
                $("#max_price").text(ui.values[1]);
                $("#id_price_0").val(ui.values[0]);
                $("#id_price_1").val(ui.values[1]);
            }
        });
    })
    </script>
{% endblock %}
