{% extends "base.html" %}
{% load thumbnail humanize pytils_numeral catalog_tags %}


{% block content %}
    <div class="ui stackable grid">
{% if not item.active %}
    <div class="row">
    <div class="sixteen wide column">
        <div class="ui error message">
            <div class="header">Внимание!</div>
            <p>Вы смотрите товар, который находится в архиве. Уточняйте наличие и цены у продавца.</p>
        </div>
    </div>
    </div>
{% endif %}
        <div class="six wide column">
{% thumbnail item.get_image "405" as im %}
            <a href="{{ item.get_image.url }}" class="fancybox ui fluid image" rel="gallery">
{% if item.old_price %}
                <div class="ui green ribbon label">
                    <i class="gift icon"></i> Акция!
                </div>
{% endif %}
                <img src="{{ im.url }}">
            </a>
{% empty %}
            <div class="no_photo"><div class="no_photo__content">
                <i class="massive photo icon"></i>
            </div></div>
{% endthumbnail %}
        </div>
        <div class="ten wide column">
            <div class="ui stackable grid">
{% if item.shop.owner == request.user %}
                <div class="sixteen wide column">
                    <a href="{% url "user:item_update" item.id %}" class="ui right floated red labeled icon button">
                        <i class="edit icon"></i>
                        Редактировать
                    </a>
                </div>
{% endif %}
                <div class="row">
                    <div class="nine wide column">
                        <h1>{{ item.name }}</h1>
{% if item.active %}
{% if item.old_price %}
                        <div>
                            <del>
                                {{ item.old_price|intcomma }}
                                <i class="ruble icon"></i>
                            </del>
                        </div>
{% endif %}
                        <div class="ui massive tag label">
                            {{ item.price|intcomma }}
                            <i class="ruble icon"></i>
                        </div>
{% endif %}
                        <div class="ui list">
{% if item.article %}
                            <div class="item"><b>Артикул:</b> {{ item.article }}</div>
{% endif %}
{% if item.color %}
                            <div class="item"><b>Цвет:</b> {{ item.color }}</div>
{% endif %}
{% if item.fabric %}
                            <div class="item"><b>Состав:</b> {{ item.fabric|safe }}</div>
{% endif %}
{% for property in item.itemcustomproperty_set.all %}
                            <div class="item"><b>{{ property.name }}:</b> {{ property.value|safe }}</div>
{% endfor %}
                        </div>
                    </div>
                    <div class="seven wide column">
                        <table class="ui very basic table">
                            <tbody>
                                <tr>
                                    <td>Магазин</td>
                                    <td><a href="{{ item.shop.get_absolute_url }}">{{ item.shop.name }}</a></td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>{{ item.shop.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td>
                                    <td>{{ item.shop.address }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
{% with item.get_more_photos as photos %}
{% if photos %}
                        <div class="ui small images">
{% for photo in photos %}
{% thumbnail photo "150x150" crop="center" as im %}
                            <a href="{{ photo.url }}" class="fancybox" rel="gallery">
                                <img src="{{ im.url }}">
                            </a>
{% empty %}
{% endthumbnail %}
{% endfor %}
                        </div>
{% endif %}
{% endwith %}
                        {{ item.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% catalog_shop_goods item.shop.id %}
{% endblock %}
