{% extends "base.html" %}
{% load thumbnail humanize pytils_numeral catalog_tags nav_tags %}


{% block content %}
    <div class="ui stackable grid catalog_item_detail">
    <div class="row">
        <div class="sixteen wide column">
            {% breadcrumb item.get_path%}
        </div>
    </div>
{% if not item.active %}
    <div class="row">
    <div class="sixteen wide column">
        <div class="ui error message">
            <div class="header">Внимание!</div>
            <p>Вы смотрите товар, который находится в архиве. Уточняйте наличие и цены у продавца.</p>
        </div>
    </div>
    </div>
{% endif %}
        <div class="six wide column">
{% thumbnail item.get_image "405" as im %}
            <div class="ui fluid image">
{% if item.old_price %}
                <div class="ui green ribbon label">
                    <i class="gift icon"></i> Акция!
                </div>
{% endif %}
                <img src="{{ im.url }}" id="main_image">
            </div>
{% empty %}
            <div class="no_photo"><div class="no_photo__content">
                <i class="massive photo icon"></i>
            </div></div>
{% endthumbnail %}
        </div>
        <div class="ten wide column">
            <div class="ui stackable grid">
{% if item.shop.owner == request.user %}
                <div class="sixteen wide column">
                    <a href="{% url "user:item_update" item.id %}" class="ui right floated red labeled icon button">
                        <i class="edit icon"></i>
                        Редактировать
                    </a>
                </div>
{% endif %}
                <div class="row">
                    <div class="ten wide column">
                        <h1>{{ item.name }}</h1>
{% if item.active %}
{% if item.old_price %}
                        <div>
                            <del>
                                {{ item.old_price|intcomma }}
                                <i class="ruble icon"></i>
                            </del>
                        </div>
{% endif %}
                        <div class="ui massive tag label">
                            {{ item.price|intcomma }}
                            <i class="ruble icon"></i>
                        </div>
{% endif %}
                        <div class="ui list">
{% if item.article %}
                            <div class="item"><b>Артикул:</b> {{ item.article }}</div>
{% endif %}
{% if item.get_color %}
                            <div class="item"><b>Цвет:</b> <span id="color_label">{{ item.get_color }}</span></div>
{% endif %}
{% if item.fabric %}
                            <div class="item"><b>Состав:</b> {{ item.fabric|safe }}</div>
{% endif %}
{% for property in item.itemcustomproperty_set.all %}
                            <div class="item"><b>{{ property.name }}:</b> {{ property.value|safe }}</div>
{% endfor %}
                        </div>
{% if item.category.sku_allowed %}
                        <div class="ui list">
                            <div class="item">
                                <b>Выберите цвет:</b>
                                <div class="ui tiny images color_select" id="color_select">
{% for sku in item.get_colors %}
                                    <img
                                            class="ui image{% if forloop.first %} selected{% endif %}"
                                            src="{{ sku.get_preview.url }}"
                                            data-id="{{ sku.id }}"
                                    >
{% endfor %}
                                </div>
                            </div>
{% if item.get_sizes %}
                            <div class="item">
                                <b>Размер производителя:</b>
                                <div class="size_select" id="size_select">
{% for size in item.get_sizes %}
                                    <div class="ui black basic label item_size"
                                         data-size="{{ size.standard_size.value }}"
                                         data-html="<h4>Российский размер: {{ size.standard_size.value }}</h4>{{ size.standard_size.description|safe }}"
                                         data-position="bottom left"
                                    >
                                        {{ size.size }}
                                    </div>
{% endfor %}
                                </div>
                            </div>
{% endif %}
                        </div>
{% endif %}
                    </div>
                    <div class="six wide column">
                        <table class="ui very basic table">
                            <tbody>
                                <tr>
                                    <td>Магазин</td>
                                    <td><a href="{{ item.shop.get_absolute_url }}" class="shop_link">{{ item.shop.name }}</a></td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>{{ item.shop.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td>
                                    <td>{{ item.shop.address }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
{% with item.get_more_photos as photos %}
                        <div class="ui small images item_gallery" id="item_gallery">
{% for photo in photos %}
{% thumbnail photo "150x150" crop="center" as im %}
                            <a href="{{ photo.url }}" class="fancybox" rel="gallery">
                                <img src="{{ im.url }}">
                            </a>
{% empty %}
{% endthumbnail %}
{% endfor %}
                        </div>
{% endwith %}
                        {{ item.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% catalog_shop_goods item.shop.id %}
{% endblock %}


{% block extra_scripts %}
    {{ block.super }}
    <script>
    var item_sku_data = {{ item.get_sku_data|safe }};

    function select_sku(id){
        var $colorPhoto = $("#color_select").find(".image[data-id="+id+"]"),
                $colorLabel = $("#color_label"),
                $sizeLabels = $("#size_select").find(".item_size"),
                $mainImage = $("#main_image"),
                $gallery = $("#item_gallery");
        $colorPhoto.addClass("selected").siblings().removeClass("selected");
        $colorLabel.text(item_sku_data[id].name);
        $sizeLabels.addClass("disabled");
        for(var i in item_sku_data[id]['sizes']) {
            $sizeLabels.filter("[data-size="+item_sku_data[id].sizes[i]['standard']+"]").removeClass("disabled");
        }
        $gallery.empty();
        for(i in item_sku_data[id]['photos']) {
            var photo = item_sku_data[id]['photos'][i],
                    $photo = $("<a href='"+photo['large']+"' class='fancybox' rel='gallery'><img src='"+photo['preview']+"'></a>");
            $gallery.append($photo);
        }
        $mainImage.attr("src", item_sku_data[id]['photos'][0]['large'])
    }

    $("#color_select").on("click", ".image", function(){
        select_sku($(this).data("id"));
    });
    select_sku($("#color_select .image").first().data("id"));
    </script>
{% endblock %}